<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="http://localhost/project/MyProject/static/css/homestyle.css"
  />
  <link
    rel="stylesheet"
    href="http://localhost/project/MyProject/static/css/signupform.css"
  />
    <title>Patient Signup · Ask A Doctor</title>
  </head>
  <body>
    <div class="container">
      <div class="name"></div>
      <div class="content-box">
        <div class="content-main">
          <div class="signup-form">
            <h1>Patient Sign-up</h1>
            <h4>Already a User? <a href="patientlogin.html">Login Here!</a></h4>
            <br />
            <form action="patient_signup.php" method="POST">
              <div class="form-group">
                <label for="username">Username:</label>
                <input
                  type="username"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                />
              </div>
                <br /><br />
                </div>
                <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required />
              </div>
                <br />
                <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required /><br />
              </div>
            <form method="POST">
              <input type="submit" class="btn-primary" value="Sign Up"><a href="patient_base.html"></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    body {
      background-image: url("https://i.pinimg.com/originals/c5/16/ff/c516ff9163fefeaa5974fc7c8855cd02.jpg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      position: relative;
    }
  </style>
</html>
